<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
      integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o="
      crossorigin="anonymous"
    />
    <link
      rel="shortcut icon"
      href="../images/TradeByte-Favicon.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.3.5/dist/alpine.min.js"
      defer
    ></script>

    <title>TradeByte</title>
  </head>

  <body class="flex justify-center items-center min-h-screen">
    <%- body %>

    <script src="javascript/script.js"></script>
    <script src="../javascript/script.js"></script>
  </body>
</html>
