<h1>Cart</h1>

<table>
  <thead>
    <tr>
      <th>Company Symbol</th>
      <th>Price</th>
      <th>No of Stock</th>
      <th>Buy</th>
    </tr>
  </thead>
  <tbody>
    <form action="/cart/buy" method="POST">
      <tr>
        <td>
          <input
            readonly
            type="text"
            name="companySymbol"
            id="companySymbol"
            value="<%= symbol %>"
          />
        </td>
        <td>
          <input
            readonly
            type="Number"
            name="stockPrice"
            id="stockPrice"
            value="<%= price %>"
          />
        </td>
        <td>
          <input type="Number" name="noOfStock" id="noOfStock" value="1" />
        </td>
        <td><input type="submit" value="BUY" /></td>
      </tr>
    </form>
  </tbody>
</table>
