<div class="relative md:ml-64 py-6 px-3 w-full">
  <div class="mx-auto max-w-6xl flex flex-col w-full px-4 md:py-12 md:px-8 text-gray-800">
    <h1 class="text-2xl lg:text-4xl font-bold mt-8 mb-4">Buy Stock</h1>
    <form action="/cart/buy" method="POST">
      <div class="w-full text-sm lg:text-base border-4">
      </div>
      <div
        class="new grid grid-flow-col grid-cols-3 md:grid-cols-4 grid-rows-2 md:gap-4 bg-white shadow-md p-2 lg:p-6 text-center">
        <div class="head text-xs text-left lg:text-lg font-bold uppercase">
          Company Name
        </div>
        <div class="head text-xs lg:text-lg font-bold uppercase">
          <input class="text-sm font-medium text-left text-xs lg:text-lg w-full" value="<%= symbol %>"
            name="companySymbol" id="companySymbol" readonly />
        </div>
        <div class="hidden md:block head text-xs lg:text-lg font-bold uppercase">
          Unit Price
        </div>
        <div class="hidden md:block head text-xs lg:text-lg font-bold uppercase">
          <input class="text-sm lg:text-center font-medium text-xs lg:text-lg w-full text-center"
            value="<%= latestPrice %>" name="stockPrice" id="stockPrice" readonly />
        </div>
        <div class="md:hidden head text-xs font-semibold uppercase">
          Qty
        </div>
        <div class="hidden md:block head text-xs lg:text-lg font-bold uppercase">
          Quantity
        </div>
        <div class="head text-xs lg:text-lg font-bold uppercase">
          <div class="h-10">
            <div class="relative flex flex-row w-full h-8">
              <input type="number" value="1" min=1 name="noOfStock" id="noOfStock"
                class="w-full font-semibold text-center text-gray-700 bg-gray-200 outline-none focus:outline-none hover:text-black focus:text-black" />
            </div>
          </div>
        </div>
        <div class="head text-xs lg:text-lg text-right font-bold uppercase">
          Total Price
        </div>
        <div class="head text-xs lg:text-lg font-bold uppercase">
          <p class="text-sm  font-medium text-right text-xs lg:text-lg break-words" id="totalPrice">
            <span class="total-price">
              <%= latestPrice %>
            </span>$
          </p>
        </div>
      </div>
      <div class="flex justify-end w-full items-center">
        <a href="/market"
          class="block uppercase ml-0 md:ml-auto mt-4 shadow  bg-blue-800 hover:bg-indigo-700  focus:shadow-outline focus:outline-none text-white font-semibold text-xs lg:text-sm py-3 px-4 rounded">Back
          to Market</a>
        <button type='submit'
          class="block uppercase mt-4 ml-4 shadow bg-yellow-500 hover:bg-yellow-600 focus:shadow-outline focus:outline-none text-white font-semibold text-xs lg:text-sm py-3 px-4 rounded">Proceed
          to Checkout</button>
      </div>
    </form>
  </div>
</div>
<script>
  const stockPrice = document.querySelector('#stockPrice')
  const noOfStock = document.querySelector('#noOfStock')
  const totalPrice = document.querySelector('.total-price')
  noOfStock.addEventListener('change', (e) => {
    e.preventDefault()
    const val = e.target.value
    totalPrice.textContent = parseFloat(stockPrice.value * val).toFixed(4)
  })
</script>