<section class="text-gray-700 body-font md:pl-64 md:mx-auto">
  <div class="container px-5 py-24 mx-auto md:px-auto">
    <div class="flex flex-wrap -m-4">
      <% for(var i=0; i < jsonData.length; i++) { %>

      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img
            alt="ecommerce"
            class="object-cover object-center w-full h-full block"
            src="https://dummyimage.com/420x260"
          />
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">
            <%- jsonData[i]["Symbol"] %>
          </h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">
            <%- jsonData[i]["Company Name"] %>
          </h2>
          <a href="/view/<%- jsonData[i]["Symbol"] %>">VIEW</a>
          <a href="/cart/<%- jsonData[i]["Symbol"] %>">BUY</a>
          <p class="mt-1">$0.00</p>
        </div>
      </div>

      <% } %>
    </div>
  </div>
</section>
