@tailwind base;

/* Custom CSS */

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
  background: linear-gradient(122.51deg, #e6ecfc 30%, #7fb4f1 100%) !important;
  scroll-behavior: smooth;
}

@tailwind components;

.chartjs-container {
  position: relative;
  margin: auto;
  height: 75vh;
  width: 75vw;
}

/* Remove number input arrow buttons on transaction page */
input::-webkit-outer-spin-button.without-arrow,
input::-webkit-inner-spin-button.without-arrow {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"].without-arrow {
  -moz-appearance: textfield;
}

.symbolicon {
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, #333);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Edit icon */
.icon .badge {
  position: absolute;
  top: -5px;
  right: -5px;
  padding: 5px 2px;
  border-radius: 50%;
  background-color: #0072ff;
  color: white;
}

/* Search bar */
#searchbar:focus .search-list {
  display: block;
}

/* Login Page animations */
animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.serif {
  font-family: "Zilla Slab", serif;
}

[x-cloak] {
  display: none;
}

.grid-indigo {
  background-image: radial-gradient(#5a67d8 2px, transparent 2px);
  background-size: 16px 16px;
}

/* Done page */
.share > .container {
  opacity: 0;
  visibility: hidden;
  transition: 0.4s all ease-in-out;
  transform: translateY(50%);
}

/* Share button */
.share.showAddThisButtons > .container {
  opacity: 1;
  visibility: visible;
  transform: translateY(40%);
  margin-top: 0.5rem;
}

@tailwind utilities;
